[submodule "pico-sdk"]
	path = pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "pico2w-hysteresis-lib"]
	path = pico2w-hysteresis-lib
	url = git@github.com:Markus-Kivinen/pico2w-hysteresis-lib.git
